<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<!-- Open Graph data -->
		<!-- <meta property="og:title" content="Title Here" /> -->
		<!-- <meta property="og:url" content="http://www.example.com/" /> -->
		<!-- <meta property="og:image" content="http://example.com/image.jpg" /> -->
		<!-- <meta property="og:description" content="Description Here" /> -->
		<script>
			var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS
				.supports('top: constant(a)'))
			document.write(
				'<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' +
				(coverSupport ? ', viewport-fit=cover' : '') + '" />')
		</script>
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<script>
			// Hacking react-scripts method for defining environment variables because we want to be able to
			// pass them at runtime when the container starts, instead of having to build the frontend once for
			// each environment (e.g staging / production).
			//
			// This will be automatically templated:
			// - in DEV, by react-scripts (see https://create-react-app.dev/docs/adding-custom-environment-variables/)
			// - in PROD, by the container's entrypoint script found in docker/entrypoint.sh (this enables passing the
			//   variables at runtime instead of consuming it at build time and building a non-portable container)
			// window.__ENV = {
			// 	backendURL: "https://pro.pi-store.app",
			// 	sandbox: "false",
			// }
		</script>
		<script src="https://sdk.minepi.com/pi-sdk.js"></script>
		<!-- <script src="/static/pi-sdk.js"></script> -->




		<script>
			// Make the decision whether Pi SDK should run in "Sandbox" mode or "Pi Browser" mode based on the
			// dedicated environment variable:
			// var runSDKInSandboxMode = window.__ENV.sandbox === "false"; // treat env vars as strings, not booleans

			// Init Pi SDK:
			Pi.init({
				version: "2.0"
				// ,sandbox: runSDKInSandboxMode
			});
		</script>

		<!-- <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
		<script>
		  // VConsole 默认会挂载到 window.VConsole 上
		  var vConsole = new window.VConsole();
		</script> -->

		<!-- 统计 -->
		<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
		<script>LA.init({id:"JwfnRjZ8y9NzJPtX",ck:"JwfnRjZ8y9NzJPtX"})</script>
	</head>
	<body>
		<noscript>
			<strong>Please enable JavaScript to continue.</strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
